@using Biblioteca.DTOS
@model SugerenciaDTO

@{
    ViewBag.Title = "Contact";
}


<h2>Tienes dudas, quejas y/o sugerencias?</h2>
<br />
<br />

@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="error">@ViewBag.Error</div>
}

<h4>Dejanos tus comentarios</h4>

@using (@Html.BeginForm("Contact", "Home", FormMethod.Post, new { @id = "frmAgregar" }))
{

    <div>
        @Html.LabelFor(p => p.Nombre)
        @Html.TextBoxFor(p => p.Nombre, new { @class = "form-control" })
        @Html.ValidationMessage("Nombre", new { @class = "text-danger" })
    </div>

    <div>
        @Html.LabelFor(p => p.Email)
        @Html.TextBoxFor(p => p.Email, new { @class = "form-control" })
        @Html.ValidationMessage("Email", new { @class = "text-danger" })
    </div>

    <div>
        @Html.LabelFor(p => p.Comentario)
        @Html.TextAreaFor(p => p.Comentario, null)
        @Html.ValidationMessage("Comentario", new { @class = "text-danger" })
    </div>

    <br />
    <div style="margin:auto;">
        <button type="submit" class="btn btn-primary" , onclick="agregar()">
            Enviar
        </button>
    </div>

}


<script>
    function agregar() {
        if (confirm("Su mensaje ha sido enviado")) {
        } else {
            event.preventDefault();
        }
    }
</script>

<address>
    <br />
    <br />
    <strong>Tambien puedes contactarnos por telefono o correo electronico</strong>
    <br />
    <strong>Tel: (+521) 5643392 ext. 713</strong>
    <br />
    <strong>Soporte:</strong>   <a href="mailto:bidig@hotmail.com">bidig@example.com</a><br />
</address>
@*@<script type="text/javascript">

        $(document).ready(function () {
            $("#idFormContact").on("submit", function (e) {
                e.preventDefault();
                //call external service
                var url = "/Home/Contact";
                var formdata = (window.FormData) ? new FormData(this) : null;
                var fdata = (formdata !== null) ? formdata : $form.serialize();
                $("#idSubmitMvt").attr("disabled", true);

                $("#idNotifSuccess").hide();
                $("#idNotifError").hide();
                //get authorization keys.
                $.ajax({
                    type: "POST",
                    url: url,
                    data: fdata,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        $("#idNotifSuccess").show();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log("Error");
                        $("#idNotifError").show();
                    }
                });

            });
        });

    </script>*@
@*<div class="row">
            <div class="col-md-6">
                @*Accion   Controlador metodo
                @using (@Html.BeginForm("Contact", "Home", FormMethod.Post, new { @id = "frmAgregar" }))
                {

                    <div>
                        @Html.LabelFor(p => p.Nombre)
                        @Html.TextBoxFor(p => p.Nombre, new { @class = "form-control" })
                        @Html.ValidationMessage("Nombre", new { @class = "text-danger" })
                    </div>

                    <div>
                        @Html.LabelFor(p => p.Email)
                        @Html.TextBoxFor(p => p.Email, new { @class = "form-control" })
                        @Html.ValidationMessage("Email", new { @class = "text-danger" })
                    </div>

                    <div>
                        @Html.LabelFor(p => p.Comentario)
                        <br />
                        @Html.TextAreaFor(p => p.Comentario, null)

                        <br />
                        @Html.ValidationMessage("Comentario", new { @class = "text-danger" })
                    </div>

                    <br />
                    <div style="margin:auto;">
                        <button type="submit" class="btn btn-primary" , onclick="agregar()">
                            Enviar
                        </button>
                    </div>
                    <br />

                }*/
                <h5>Soporte online</h5>
                <br />
                <h5>Tel. (+521) 5643991 ext. 713</h5>
                <br />

            </div>
        </div>

    <script>
        function agregar() {
            if (confirm("Su mensaje ha sido enviado")) {
            } else {
                event.preventDefault();
            }
        }
    </script>*@