@using Biblioteca.DTOS
@model IEnumerable<PrestamoDTO>
@{
    ViewBag.Title = "Index";
}

<h2>Prestamos</h2>

@using (Html.BeginForm("Index", "Libro", FormMethod.Post, new { @id = "frmFiltro" }))
{
    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tituloLibro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaprestamo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechadevolucion)
            </th>
            <th>
                Operaciones
            </th>
            <th>
                Deuda
            </th>

        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>@Html.TextBox("nombreUsuario", null, new { @class = "form-control" })</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tituloLibro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombreUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_Prestamo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_Devolucion)
                </td>

                <td>
                    @Html.ActionLink(" ", "Devolver", "Prestamo", new { id = @item.ID }, new { @class = "glyphicon glyphicon-check btn btn-primary", @Onclick = "editar()" })

                    @Html.ActionLink(" ", "Cancelar", "Prestamo", new { id = @item.ID }, new { @class = "glyphicon glyphicon-trash btn btn-danger", @Onclick = "eliminar()" })
                </td>
            </tr>
        }

    </table>
}
<script>

    let Nombre_Autor = document.getElementById("nombreUsuario");    
    let frmFiltro = document.getElementById("frmFiltro");

    Nombre_Autor.onkeyup = function () {
        frmFiltro.submit();
    }

    function editar() {
        if (confirm("¿Desea editar el registro?") == 1) {
        } else {
            event.preventDefault();
        }
    }

    function eliminar() {
        if (confirm("¿Desea eliminar el registro?") == 1) {
            alert("Se elimino correctamente");
        } else {
            event.preventDefault();
        }
    }
</script>