@using Biblioteca.DTOS
@model UsuarioDTO
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>sistema de login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- vinculo a bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Temas-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- se vincula al hoja de estilo para definir el aspecto del formulario de login-->
    <style>


        body {
            font-size: 12px;
        }

        #Contenedor {
            width: 400px;
            margin: 50px auto;
            background-color: #F3EDED;
            border: 1px solid #ECE8E8;
            height: 400px;
            border-radius: 8px;
            padding: 0px 9px 0px 9px;
        }


        .Icon span {
            background: #A8A6A6;
            padding: 20px;
            border-radius: 120px;
        }

        .Icon {
            margin-top: 10px;
            margin-bottom: 10px;
            color: #FFF;
            font-size: 50px;
            text-align: center;
        }
        .user-information{
            margin-bottom: 20px;
            background-color: lightgray;
            border-radius:10px;
            
            
        }
        .edit-information{
            margin-bottom:20px;
            align-content:center;
        }
        .prestamos {
            margin-top: 20px;
            background-color: lightgray;
            border-radius:10px;
            padding-bottom:20px;
            
            
        }
        .prestamos-table{
            margin-top:0px;

            background-color:lightgray ;
        }
        .news {
            margin-bottom: 100px;
            background-color: #383837;
            color: white;
            padding-bottom: 100px;
            border-radius:10px
        }
        .table-top {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: right;
            background-color: gray;
            color: white;
        }
        .prestamos-image{
            width:50px;
            height:50px;
        }
        .btn {
            color: #680606;
            
            
        }

        
    </style>
</head>
<body>
    
    <div class="Contenedor" >
        <div class="row profile">
            <!--Parte de la izquierda(columna)-->
            <div class="col-md-3">
                <div class="profile-picture">
                    <div class="Icon">
                        <span class="glyphicon glyphicon-user"></span>

                    </div>
                    <div class="edit-information">
                        @Html.ActionLink("Editar información", "Editar", "Usuario", new { id = Model.ID }, new { @class = "btn btn-danger" })
                    </div>
                    <div class="news ">
                        <article class="news col-md-12  ">
                            <h2>Avisos <img class="prestamos-image" src="~/Img/megaphone.png" /> </h2>
                            <p>La biblioteca digital esta encantada de apoyar tu desarrollo académico.Es por ello que te recordamos:
                                <br />-No olvides regresar los libros antes de la fecha limite para evitar cobros 
                                <br />-Cuida los libros, otros estudiantes tambien los usarán
                                <br />-NO escribas sobre los libros
                                <br />-No puedes tomar dos ejemplares iguales
                                <br />-En caso de extraviar un libro, deberás cubrir el costo total de este
                                
                            </p>
                        </article>
                    </div>

                </div>

            </div>
            <!--Division para la informacion del alumno y prestamos-->
            <div class="col-md-9">
                <article class=" col-md-12 ">
                    <div class="user-information ">
                        <h2><b>Informacion</b> <img class="prestamos-image " src="~/Img/information.png" /></h2>
                        <h4>@Html.DisplayNameFor(model => model.Nombre)<br />@Html.DisplayTextFor(model => model.Nombre)</h4>
                        <h4>@Html.DisplayNameFor(model => model.Telefono)<br />@Html.DisplayTextFor(model => model.Telefono)</h4>
                        <h4>@Html.DisplayNameFor(model => model.Direccion)<br />@Html.DisplayTextFor(model => model.Direccion)</h4>
                        <h4>@Html.DisplayNameFor(model => model.Email)<br />@Html.DisplayTextFor(model => model.Email)</h4>
                        <h4>@Html.DisplayNameFor(model => model.Fecha_Registro)<br />@Html.DisplayTextFor(model => model.Fecha_Registro)</h4>




                    </div>
                </article>
                 <article class="col-md-12">
                     <!--division que se encarga de mostrar los prestamos, aun no se implementará-->
                    <div class="prestamos">
                        <h2>Prestamos <img class="prestamos-image" src="~/Img/book.png" /> </h2>
                        <table class="prestamos-table col-md-12">
                            
                            <tr class="table-top">
                                <th>id</th>
                                <th>Titulo libro</th>
                                <th>Fecha de prestamo</th>
                                <th>Fecha de devolución</th>

                            </tr>
                            <tr>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>1</td>
                            </tr>
                        </table>
                        
                    </div>
                 </article>

            </div>
        </div>
           
           

       

        
        
    </div>





    @Scripts.Render("~/bundles/jquery")
    <script src="~\Scripts\jquery.unobtrusive-ajax.js"></script>
</body>

</html>

